# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Using Markdown and Code cell in Jupyter Notebook
- Create headings, bold text, table, ordered and unordered lists
- List of popular Data Science languages
- List of common Data Science libraries
- List of popular Data Science Tools
- Perform simple arithmetic using Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. C++
5. Java
6. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. ggplot2
4. Matplotlib
5. Seaborne
6. ggally

|Data Science Tools|
|-------------------|
|Jupyter Notebook|
|RStudio|
|Visual Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to multiply then add integers
(3 * 4 ) + 5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
(200 / 60)

3.3333333333333335

## Author
Nancy Honesta T Malintan